.main{
    	padding: 20px;
    	text-align: center;
    }
.btn-primary{
	height: 50px;
	width: 85px;
	border-radius: 5px;
	border: none;
	margin-left: 20px;
	color:#fff;
	font-size: 20px;
	font-weight: bold;
	background-color:#5bc0de;
	}
.input{
	width: 300px;
	height: 45px;
	border-radius: 5px;
	outline: none;
	font-size: 20px;
	}
span{
	font-size: 20px;
	font-weight: bold;
	padding: 20px;
	
}
